.game-board {
  margin: 25px;
  width: 500px;
  height: 500px;
  /* border: 1px solid #ccc; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px;
}

.game-cell {
  /* border: 1px solid #ccc; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 100px;
  box-shadow: rgb(180, 180, 180) 0px 8px 24px;
}

.game-cell.cell-o {
  background-color: #f0f8ff;
  color: #5a5ae1;
}

.game-cell.cell-x {
  background-color: #f0f8ff;
  color: #e63946;
}

.game-reset {
  margin: 25px;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  font-size: 16px;
  border: none;
  outline: none;
}

.game-winner {
  padding: 25px;
  font-size: 30px;
  color: #e63946;
}
